nav, div, h3 {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: inherit;
  text-align: inherit;
  font: inherit;
  color: inherit;
  text-decoration: inherit;
  box-sizing: inherit;
  background: transparent;
}

.nav-bar {
  font-family: "Open Sans", sans-serif;
  width: 100vw;
  height: 40px;
  background: #0060bf;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
}

.search-bar {
  z-index: 2;
  float: left;
  height: 30px;
  width: 294px;
  margin-left: 184px;
  margin-top: 5px;
  background-color: #fff;
  opacity: .2;
  border-radius: 3px;
  padding: 5px;
  box-sizing: border-box;
  position: relative;
}

.search-icon {
  font-family: "Material Icons";
  font-size: 22px;
  height: 20px;
  width: 20px;
  display: block;
}

.search-input {
  position: absolute;
  top: 0;
  left: -2px;
  height: 100%;
  width: calc(100% - 35px);
  font-size: 14px;
  margin-left: 32px;
}

.user-icon {
  width: 64px;
  height: auto;
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.image-upload {
  margin-top: 10px;
  z-index: 10;
}

.image-submit, .fake-input {
  margin-top: 10px;
  border: 1px solid #045DBB;
  color: #045DBB;
  border-radius: 3px;
  background: #fff;
  font-size: 13px;
}

.image-submit:hover {
  background: #e4eef8;
}

.fake-input {
  position: absolute;
  top: 50px;
  display: inline-block;
  padding: 2px 0 2px 5px;
  width: 90px;
  z-index: 1;
}

.input-container {
  position: relative;
}

.active {
  opacity: 1;
}

.dropdown-close {
  display: none;
}


.settings {
  font-family: "Material Icons";
  cursor: pointer;
  color: #d9e7f5;
  font-size: 24px;
  text-align: right;
  float: right;
  margin: 8px 18px 4px 0;
  position: relative;
  height: 50px;
}

.dropdown-open {
  font-family: "Open Sans", sans-serif;
  display: block;
  width: 240px;
  background-color: #fff;
  color: #000;
  position: absolute;
  top: 43px;
  right: 16px;
  cursor: default;
  padding: 8px;
  margin-right: -5px;
  box-shadow: 0 0 2px 2px #aaa;
  border-radius: 3px;
  z-index: 1;
}

.dropdown-open h3 {
  font-size: 14px;
  text-align: left;
}

.logout {
  font-size: 14px;
  cursor: pointer;
  float: left;
  margin-top: 5px;
  margin-left: 3px;
}

.name {
  font-weight: bold;
  display: inline-block;
}

.email {
  color: #d3d3d3;
  font-weight: normal;
  display: block;
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
  margin-bottom: 5px;
}

.header-nav-links {
  float: left;
}

.header-nav-links li {
  display: block;
}

.dropdown-arrow {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;

  border-bottom: 10px solid #fff;

  position: absolute;
  top: -8px;
  right: 8px;
}
