nav, div, h3 {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: inherit;
  text-align: inherit;
  font: inherit;
  color: inherit;
  text-decoration: inherit;
  box-sizing: inherit;
  background: transparent;
}

.nav-bar {
  font-family: "Open Sans", sans-serif;
  background: #0060bf;

  display: block;
  width: 100vw;
  height: 40px;

  position: absolute;
  right: 0;
  top: 0;
  left: 0;
}

.search-bar {
  background-color: #fff;
  opacity: .2;

  float: left;
  width: 294px;
  height: 30px;

  margin-left: 188px;
  margin-top: 5px;
  padding: 5px;
  border-radius: 3px;
  box-sizing: border-box;

  position: relative;
  z-index: 2;
}

.search-icon {
  font-family: "Material Icons";
  font-size: 22px;

  display: block;
  height: 20px;
  width: 20px;
}

.search-input {
  font-size: 14px;

  position: absolute;
  top: 0;
  left: -2px;
  margin-left: 32px;

  height: 100%;
  width: calc(100% - 35px);
}

.active {
  opacity: 1;
}

.user-icon {
  width: 80px;
  height: auto;

  position: absolute;
  right: 20px;
  bottom: 10px;
}

.image-upload {
  display: none;
  margin-top: 10px;
  z-index: 10;
}

.image-submit, .fake-input {
  background: #fff;
  font-size: 13px;
  color: #045DBB;
  cursor: pointer;

  margin-top: 10px;
  border: 1px solid #045DBB;
  border-radius: 3px;
}

.fake-input {
  text-align: left;
}

.image-submit {
  margin-bottom: 10px;
}

.image-submit:hover, .fake-input:hover {
  background: #e4eef8;
}

.image-submit:active, .fake-input:active {
  background: #fff;
}

.fake-input:active {
  box-shadow: 0 0 1px 1px #38aafc;
}

.fake-input {
  display: inline-block;
  padding: 2px 5px 2px 5px;
  z-index: 1;
}

.input-container {
  position: relative;
}


.dropdown-close {
  display: none;
}

.settings {
  font-family: "Material Icons";
  color: #d9e7f5;
  font-size: 24px;
  cursor: pointer;
  text-align: right;

  float: right;
  position: relative;
  height: 50px;
  margin: 8px 18px 4px 0;
}

.settings:hover {
  color: #fff;
}

.dropdown-open {
  display: block;
  font-family: "Open Sans", sans-serif;
  background-color: #fff;
  color: #000;
  cursor: default;

  width: 240px;
  padding: 8px;
  margin-right: -5px;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px #aaa;

  position: absolute;
  top: 43px;
  right: 16px;
  z-index: 1;
}

.dropdown-open h3 {
  font-size: 14px;
  text-align: left;
}

.name {
  font-weight: bold;
  display: inline-block;
}

.email {
  color: #d3d3d3;
  font-weight: normal;
  display: block;
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
  margin-bottom: 5px;
}

.logout {
  font-size: 14px;
  color: #ccc;
  cursor: pointer;

  padding: 3px 5px;
  border: 1px solid #ccc;
  border-radius: 3px;

  float: left;
  margin-top: 3px;
  margin-left: 2px;
}

.logout:hover {
  background: #fff;
  color: #000;
  border: 1px solid #000;
  border-radius: 3px;
  box-sizing: border-box;
  padding: 3px 5px;
}

.logout:active {
  background: #e4eef8;
}

.header-nav-links {
  float: left;
  width: 100%;
}

.header-nav-links li {
  display: block;
}

.dropdown-arrow {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #fff;

  position: absolute;
  top: -8px;
  right: 8px;
}
