html, body, main, div, label, input, section, header, form, span, ul, li, h1, h2, h3{
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  text-align: inherit;
  font: inherit;
  color: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  text-decoration: inherit;
  background: transparent;
}

body {
  font-family: 'Open Sans', sans-serif;
  background: #fff;
}

ul {
  list-style: none;
}

.group:after {
  content: "";
  clear: both;
  display: block;
}

.container {
  height: 100vh;
  display: flex;
  align-items: stretch;
}

.leftSide {
  display: block;
  width: 420px;
  background-color: #045DBB;
  flex-grow: 1;
}

.rightSide {
  width: 420px;
  height: auto;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 60px;
  flex-grow: 1;
}

form > h3 {
  font-size: 21px;
  margin-bottom: 30px;
}

form {
  margin-top: 150px;
}

.link {
  float: right;
  text-decoration: none;
  background: #E5EFF9;
  color: #757E87;
  font-size: 15px;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
  margin-top: 40px;
}

.authField {
  display: block;
  width: 100%;
  border: 1px solid #ccc;
  padding: 6px 12px;
  font-size: 23px;
  border-radius: 3px;
  font-weight: 300;
  margin: 10px 0;
}

.authField:focus {
  box-shadow: 0 0 1px 1px #38aafc;
}

.submit, .guestLogIn {
  background: #009dff;
  color: #fff;
  text-align: center;
  border: none;
  cursor: pointer;
  font-size: 20px;
  padding: 10px 12px;
}

.submit:hover, .guestLogIn:hover {
  background: #027fce;
}

.submit {
  margin-top: 20px;
}

.divider {
  display: block;
  text-align: center;
  font-size: 16px;
  color: #ccc;
  margin: 40px 0px;
  position: relative;
}

.divider > hr {
  border-top: 1px solid #eee;
}

.divider > span {
  position: absolute;
  top: -10px;
  text-align: center;
  width: 40px;
  background: #fff;
}

@media only screen and (max-width: 768px) {
  .leftSide {
    display: none;
  }
}

.row {
  margin: 0 auto;
  width: 380px;
  height: 100px;
  margin-top: 300px;
}

.row > span {
  float: left;
}

.img {
  height: 100%;
  background-size: contain;
  width: 90px;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  background-position-x: 8px;
  background-position-y: 12px;
  padding: 1px 6px;
  margin: 0 auto;
}

.imageContainer {
  width: 33.33333%;
  height: inherit;
}

.signupImage1 {
  display: block;
  background-image: image-url("hp_person2.png");
  background-repeat: no-repeat;
  background-color: #1C7ADC;
}

.signupImage2 {
  display: block;
  background-image: image-url("hp_person1.png");
  background-repeat: no-repeat;
  background-color: #21B578;
}

.signupImage3 {
  display: block;
  background-image: image-url("hp_person3.png");
  background-repeat: no-repeat;
  background-color: #3995FC;
}

.welcome {
  color: #fff;
  margin: 0 auto;
  max-width: 420px;
  padding-top: 30px;
}

.join {
  font-weight: 500;
  opacity: .5;
  text-align: center;
}

.quote {
  margin-top: 200px;
  text-align: left;
  font-weight: lighter;
}

.welcome h2 {
  font-size: 28px;
}

.quote h3 {
  opacity: .75;
  font-size: 18px;
  margin-top: 25px;
}

.errorContainer {
  color: #ef8143;
  margin-left: 10px;
}

.signinError {
  color: #000;
  background: rgba(234, 82, 0, 0.15);
  padding: 15px 20px;
  display: block;
  border-radius: 3px;
  margin: 0 auto;
}

// .errorIcon {
//   color: #ef8143;
//   border-radius: 50%;
//   font-family: "Material Icons";
//   font-size: 24px;
// }
//<span className="errorIcon">error</span>


.hasError {
  background: #fdede5;
  box-shadow: 0 0 1px 1px #ea5400;
  border: none;
}
