.task-detail {
  width: 75%;
  height: 100vh;
  position: absolute;
  box-sizing: border-box;
  border-left: 2px solid #ccc;
  top: 0;
  left: 585px;
  background: #fff;
  border-radius: 8px;
  padding: 10px;
}

.task-detail li {
  margin: 5px;
}

.detail-top {
  display: block;
  margin-bottom: 10px;
}

.close {
  float: right;
}

.close a {
  text-decoration: none;
}

.task-name {
  width: 100%;
  padding: 5px;
  font-size: 20px;
  float: left;
}

.task-data:hover .non-attributes {
  display: block;
  opacity: 1;
  width: 100%;
}

.task-name:hover {
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 5px;
}

.task-data:hover input {
  border: 1px solid #ccc;
  border-radius: 3px;
}

.non-attributes {
  display: block;
  opacity: 0;
}

.input-attr {
  padding: 2px 5px;
  box-sizing: border-box;
}
