section, div, span, input, ul, li {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  text-align: inherit;
  font: inherit;
  color: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  text-decoration: none;
  background: transparent;
}

.task-text:focus::-webkit-input-placeholder { opacity: 0; }
.task-text:focus:-moz-placeholder { opacity: 0; }
.task-text:focus:-ms-input-placeholder { opacity: 0; }


.list-mangoes, .search-mangoes, .task-mangoes {
  display: block;
  background-position: center;
  background-size: cover;
  opacity: .25;
  height: 100%;
  width: auto;
  overflow: hidden;
  border-radius: 3px;

  text-align: center;
  font-weight: bold;
  font-size: 16px;
  padding: 10px;
  box-sizing: border-box;
}

.list-mangoes {
  background-image: image-url("rsz_blue_mangoes.png");
}

.search-mangoes {
  background-image: image-url("mangoes.jpg");
}

.task-mangoes {
  background-image: image-url("rsz_mango_cartoon.png");
}

.tasks {
  float: left;
  margin: 45px 5px 0 5px;
  background: #fff;
  border-radius: 6px;
  width: 40%;
  padding: 10px;
}

.task-bar {
  width: 100%;
  min-width: 270px;
}

.task-status {
  height: 30px;
  float: right;
  margin-bottom: 10px;
}

.task-status li {
  padding-bottom: 7px;
  display: block;
  cursor: pointer;
  float: left;
  margin: 10px 15px 0 20px;
}

.action-icons {
  position: relative;
  text-align: center;
  float: left;
  color: #f7c247;
  margin-left: 5px;
  font-size: 28px;
  font-family: "Material Icons";
}

.actions-icons li {
  display: block;
}

.delete-task {
  float: left;
  cursor: pointer;
  height: 30px;
  width: 30px;
}

.complete-task {
  float: left;
  cursor: pointer;
  height: 30px;
  width: 30px;
  overflow: hidden;
}

.uncomplete-task {
  float: left;
  cursor: pointer;
  height: 30px;
  width: 30px;
}

.highlight {
  font-weight: bold;
  border-bottom: 1px solid #000;
}

.add-task {
  width: 100%;
  box-sizing: border-box;
}

.task-text:focus {
  box-shadow: 0 0 1px 1px #38aafc;
}

.task-text {
  font-size: 14px;
  width: 100%;
  display: block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 3px;
  padding: 10px;
  margin: 10px 0;
}

.button-wrapper {
  width: 100%;
  height: auto;
}

.button-open {
  height: 30px;
  width: 90px;
  font-weight: bold;
  padding: 7px 15px;
  background: #0060bf;
  border-radius: 3px;
  text-align: right;
  color: #fff;
  margin: 0 17px 10px 0;
  margin-right: 2%;
  display: block;
  float: right;
}

.hidden {
  display: none;
}

.tasks-index {
  display: block;
  height: calc(100% - 86px);
}

.tasks-list {
  height: 100%;
}

.tasks-list li {
  border-top: 1px dotted #e5e5e5;
  cursor: pointer;
  display: block;
  padding: 6px;
  width: 100%;
  box-sizing: border-box;
}

.tasks-list a {
  text-decoration: none;
  color: #000;
}

.tasks-list li:last-child {
  border-bottom: 1px dotted #e5e5e5;
}

.tasks-list li:hover {
  background: #fcebc4;
}

.inactive {
  pointer-events: none;
  opacity: .5;
}

.selected-task {
  font-weight: bold;
}

 .completed {
   text-decoration: line-through;
 }

 .tooltiptext {
   font-family: "Open Sans", sans-serif;
   font-size: 10px;

   opacity: 0;
   width: 90px;
   background-color: #555;
   color: #fff;
   text-align: center;
   padding: 5px 0;
   border-radius: 6px;

   position: absolute;
   top: -30px;
  //  margin-left: -60px;
 }

 .tooltiptext:after {
   content: "";
   position: absolute;
   top: 100%;
   left: 50%;
   margin-left: -5px;
   border-width: 5px;
   border-style: solid;
   border-color: #555 transparent transparent transparent;
 }

 .complete-task:hover .complete-tip {
   display: block;
   opacity: 1;
   z-index: 4;
   left: 0;
 }

 .uncomplete-task:hover .uncomplete-tip {
   display: block;
   opacity: 1;
   z-index: 4;
   left: 30px;
 }

 .delete-task:hover .delete-tip {
   display: block;
   opacity: 1;
   z-index: 4;
   left: -30px;
 }
