.task-detail {
  position: absolute;
  right: 0;
  top: 45px;
  width: 37%;
  height: calc(100% - 40px);
  box-sizing: border-box;
  border-left: 2px solid #ccc;
  background: #fff;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  padding: 10px;
}

.task-detail li {
  margin: 5px;
}

.detail-top {
  display: block;
  margin-bottom: 10px;
}

.close {
  float: right;
  cursor: pointer;
  color: #000;
}

.close a {
  text-decoration: none;
}

.close:hover {
  color: #C0C0C0;
}

.task-name {
  width: 100%;
  padding: 5px;
  font-size: 20px;
  float: left;
  border-style: none;
  border-color: transparent;
  overflow-y: auto;
  height: 50px;
}

.task-name:hover {
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 5px;
}

.task-data:hover input {
  border: 1px solid #ccc;
  border-radius: 3px;
}

.list-name-dropdown {
  border: 1px solid #ccc;
  border-radius: 3px;
  width: 155px;
  padding: 5px;
  background: #fff;
  font-size: 13px;
}

.attr-name {
  font-weight: bold;
  margin: 10px;
}

.estimate, .location, .datepicker {
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-right: 5px;
  padding: 3px;
}

.task-input {
  margin-left: 15px;
  margin-bottom: 10px;
}

.update-task {
  font-weight: bold;
  background: #216ba5;
  color: #fff;
  padding: 5px;
  border-radius: 3px;
  margin: 0 auto;
  display: block;
}
