.task-detail {
  position: absolute;
  right: 0;
  top: 45px;
  width: 40%;
  // float: left;
  height: 100vh;
  box-sizing: border-box;
  border-left: 2px solid #ccc;
  background: #fff;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  padding: 10px;
}

.task-detail li {
  margin: 5px;
}

.detail-top {
  display: block;
  margin-bottom: 10px;
}

.close {
  float: right;
  cursor: pointer;
  color: #000;
}

.close a {
  text-decoration: none;
}

.close:hover {
  color: #C0C0C0;
}

.task-name {
  width: 100%;
  padding: 5px;
  font-size: 20px;
  float: left;
  border-style: none;
  border-color: transparent;
  overflow-y: auto;
  height: 50px;
}
//
// .task-data:hover .non-attributes {
//   display: block;
//   opacity: 1;
//   width: 100%;
// }

.task-name:hover {
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 5px;
}

.task-data:hover input {
  border: 1px solid #ccc;
  border-radius: 3px;
}
.attributes {
  padding: 5px;
}

.non-attributes {
  display: block;
  width: 100%;
}
.list-name-dropdown {
  border: 1px solid #ccc;
  border-radius: 3px;
  width: 155px;
  padding: 5px;
  background: #fff;
  font-size: 13px;
}
.list-label {
  font-weight: bold;
  margin-right: 10px;
  margin-left: 5px;
}
.input-attr {
  padding: 2px 5px;
  box-sizing: border-box;
}
