section, nav, br, div, ul, li{
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  text-align: inherit;
  font: inherit;
  color: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  text-decoration: inherit;
  background: transparent;
}

.welcome-page {
  height: 100vh;
  width: auto;
  background-color: rgb(0, 96, 191);
  margin: 0 auto;
}

.welcome-nav {
  height: 115px;
  padding: 50px;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(0, 0, 0, 0.0470588);
  margin: 0 auto;
}

.welcome-links {
  float: right;
  display: block;
}

.welcome-links a {
  text-decoration: none;
  color: #fff;
  opacity: .75;
  margin: 20px 15px;
  font-size: 15px;
  height: 100%;
  width: 100%
}

.welcome-links li {
  float: left;
  display: block;
}

.welcome-signup-link:hover {
  border: 2px solid rgb(225, 225, 225);
}

.welcome-login-link a:hover, .welcome-signup-link a:hover {
  color: #fff;
  opacity: 1;
}

.welcome-signup-link {
  border: 2px solid rgba(225, 225, 225, .75);
  border-radius: 4px;
  padding: 4px 0;
  box-sizing: border-box;
  cursor: pointer;
  margin-left: 30px;
}

.welcome-login-link {
  border: 2px solid transparent;
  border-radius: 4px;
  padding: 4px 0;
  box-sizing: border-box;
  cursor: pointer;
}

.test {
  margin: 0 auto;
}

.welcome-content {
  height: 100vh;
}

.welcome-content a {
  text-decoration: none;
  background: #d24b03;
  border-radius: 4px;
  padding: 12px 32px;
  font-size: 23px;
  color: #fff;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
  margin: auto;
  display: block;
  margin: 0 auto;
  max-width: 170px;
}

.smart-app-text {
  font-size: 44px;
  text-align: center;
  margin: 0 auto;
  padding: 30px;
  color: #fff;
}
